.DashList{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: #fff;
    margin:0.3em;
    overflow-y: scroll;
    min-height: 30px;
    max-height: 200px;
    width: 200px;
    border:  2px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;

}

.textinDash{
    padding: 3px;
    cursor: pointer;
}

.textinDash:hover{
    background-color: rgba(0, 0, 255, 0.196);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar {
    background: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888; 
}
   